* {
  font-family: 'Sora', sans-serif;
  /* border: 1px solid black; */
}

/* html,   */
body {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  background-color: var(--dark-bg) !important;
  color: var(--text-light) !important;
}

:root {
  /* --main-text: #42446e;
  --text-faded: #7d7d7d; */
  --dark-bg: #121212;
  --dark-bg-alt: #1e1e1e;

  --primary-50: #faf5ff;
  --primary-100: #f3e9fe;
  --primary-200: #e9d6fe;
  --primary-300: #d8b6fc;
  --primary-400: #bf88f8;
  --primary-500: #a75af2;
  --primary-600: #8a2be2; /* Base Color */
  --primary-700: #7d28c8;
  --primary-800: #6a25a4;
  --primary-900: #572083;
  --primary-950: #3b0a61;

  --text-light: #ffffff;
  --text-muted: #cccccc;
}

/* == Navbar Section == */
.navbar {
  background-color: transparent;
  transition: background-color 0.5s ease;
  /* Add other styles as needed */
  width: 100%;
}

.navbar.scrolled {
  background-color: var(--dark-bg-alt);
  backdrop-filter: blur(4px); /* Adjust the blur value as needed */
}
.navbar-nav a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 5px 15px;
  transition: all 0.3s ease;
}
.navbar-nav a::before,
.navbar-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--primary-600);
  transition: all 0.3s ease;
}
.navbar-nav .nav-link.active::after {
  content: '';
  position: absolute;
  /* left: 50%; */
  /* bottom: -4px; */
  width: 100%;
  height: 2px;
  background-color: var(--primary-600);
}
.navbar-nav a::before {
  left: 0;
  width: 0; /* Mulai dengan garis pendek */
}
.navbar-nav a::after {
  right: 0;
  width: 0; /* Mulai dengan garis pendek */
}
.navbar-nav a:hover::before {
  width: 50%; /* Garis pertama lebih pendek */
  color: var(--text-light);
}
.navbar-nav a:hover::after {
  width: 50%; /* Garis kedua lebih panjang */
  color: var(--text-light);
}
.icon-container {
  transition: transform 250ms ease, filter 250ms ease;
}
.icon-container:has(:hover) :not(:hover) {
  transform: scale(1);
  filter: blur(1px);
  animation: 350ms ease-out;
}
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: var(--primary-200);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  z-index: 1050;
}
/* == Navbar End == */

/* == Hero Section == */
.hero {
  position: relative;
  padding-top: 4rem;
  background-color: var(--dark-bg);
  min-height: 80vh;
  overflow: hidden;
  z-index: 2;
}
.hero .row {
  margin: 100px 0;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
}
.hero .row .introduce {
  font-size: 32px;
  font-weight: 500;
  color: var(--primary-950);
  line-height: 1.2;
}
.name {
  background: linear-gradient(82.3deg, var(--primary-300), var(--primary-500));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 42px);
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 1rem;
}
.hero .button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--primary-400);
  background-size: 400%;
  /* color: var(--primary-950); */
  border: none;
  cursor: pointer;
}
.hero .button a {
  color: var(--primary-950);
  font-weight: 700;
  text-decoration: none;
}
.hero .button:hover::before {
  transform: scaleX(1);
}
.hero .button-content {
  position: relative;
  z-index: 1;
}
.hero .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(45deg, var(--primary-400), var(--primary-600));
  transition: all 0.475s;
}
.hero-img {
  max-width: 100%;
  height: auto;
  display: block;
}
.box {
  position: relative;
  width: 90vw;
  height: 90vw;
  max-width: 300px;
  max-height: 300px;
  background: var(--primary-600);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.box::before {
  content: '';
  position: absolute;
  inset: -5% 35%;
  background: linear-gradient(45deg, var(--text-light), var(--text-light));
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.box:hover::before {
  inset: -10% 0%;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: '';
  position: absolute;
  inset: 1.5%;
  background: var(--primary-800);
  border-radius: 50%;
  z-index: 1;
}
.content {
  position: absolute;
  inset: 2%;
  /* border: 6px solid #24cdf7; */
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}
.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.parallax {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  z-index: -1;
}

.parallax span {
  min-height: 68vh;
  letter-spacing: -3px;
  display: inline-block; /* pastikan setiap span diperlakukan sebagai block untuk animasi */
}

.scroller {
  display: flex;
  width: max-content;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--primary-600);
  opacity: 0.2;
  text-transform: uppercase;
  white-space: nowrap;
  will-change: transform;
}

.parallax-top {
  position: absolute;
  top: 10%;
  width: 100%;
}

.parallax-bottom {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
/* == Hero End == */

/* == Skill Section == */
.skills {
  margin-bottom: 10rem;
  margin-top: 5rem;
}
.skills h1 {
  font-weight: 700;
  font-size: clamp(46px, 6vw, 82px);
  color: var(--main-text);
}
.skills .row {
  margin-top: 4em;
}
.skills p {
  color: var(--text-faded);
  font-size: clamp(18px, 2.5vw, 22px);
}
.tech-card {
  background: rgba(255, 255, 255, 0.05); /* Soft transparent card */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  padding: 1.2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tech-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.tech-card img {
  transition: transform 0.3s ease-in-out;
}

.tech-card:hover img {
  transform: scale(1.1);
}

.tech-card p {
  margin-top: 0.5rem;
  color: var(--main-text);
  font-size: 1rem;
}

/* == Skill End == */

/* == Project Section == */
.project {
  margin-bottom: 5rem;
}
.project h1 {
  font-weight: 700;
  font-size: clamp(46px, 6vw, 82px);
  color: var(--main-text);
}
.project .row {
  margin-top: 3em;
}
.subheading {
  color: var(--text-faded);
  font-size: clamp(18px, 2.5vw, 22px);
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
  grid-auto-rows: 1fr;
}

/* Project Card */
.project-card {
  height: 100%;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Project Card Image */
.project-card-image {
  /* display:flex; */
  flex: 1 1 auto;
  height: 250px;
  overflow: hidden;
  /* margin: 0.5rem; */
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers entire area */
  object-position: center;
}

/* Project Card Content */
.project-card-content {
  display: flex;
  padding: 0.5rem 1.25rem;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

/* Project Title */
.project-title {
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  font-weight: 600;
  color: var(--main-text);
  margin-bottom: 0.5rem;
  flex-grow: 1;
}

/* Project Description */
.project-description {
  color: var(--text-faded);
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  line-height: 1.5;
  /* margin-bottom: 0.5rem; */
  flex-grow: 1;
  min-height: 45px;
  max-height: 100px;
}

/* Project Tags */
.project-tags {
  background-color: #f9fafb; /* Warna latar belakang berbeda */
  padding: 1.2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: start;
  /* border-top: 1px solid #ddd; */
}

.project-tag {
  /* background-color: #e5e7eb; */
  color: #333;
  padding: 0.3rem 0.7rem;
  /* border-radius: 100px; */
  font-size: 0.75rem;
  font-weight: 500;
  /* text-transform: uppercase; */
}
.project-tag:hover {
  background: rgba(19, 176, 245, 0.2);
  transition: all 0.3s ease;
}
.tag-icon {
  border-radius: 5px;
  position: relative;
  display: inline-block;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s ease-in-out;
}

.tag-icon:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}
/* Project Links */
.project-links {
  display: flex;
  justify-content: start;
  margin-top: auto;
  gap: 0.5rem;
}

.project-link {
  /* flex: 1; */
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-link.details {
  background-color: var(--main-text);
  color: white;
}

.project-link.demo {
  background-color: #a29bfe;
  color: white;
}

.project-link:hover {
  opacity: 0.9;
}
.no-link {
  font-size: 0.9rem;
  color: #888;
  font-style: italic;
}

/* Project Button */
.project .button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--main-text);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
.project .button a {
  color: #fff;
  text-decoration: none;
}
.project .button:hover::before {
  transform: scaleX(1);
}
.project .button-content {
  position: relative;
  z-index: 1;
}
.project .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(231, 15, 170, 1) 10.8%,
    rgba(19, 176, 245, 1) 94.3%
  );
  transition: all 0.475s;
}

/* ==Contact Section== */
.contact {
  margin-top: 10em;
  height: 25vh;
}
.mail {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

/* == About Section == */

.about-header {
  font-weight: 700;
  font-size: clamp(46px, 6vw, 82px);
  color: var(--main-text);
}
.background-aboutme {
  background-color: #f5f5f5;
}
.about-header span {
  color: plum;
}
.aboutme p {
  color: var(--text-faded);
  font-size: clamp(18px, 2.5vw, 22px);
}
/* .about-content h2 {
  font-size: clamp(1.4375rem, -0.3324rem + 5.7208vw, 3rem);
  font-weight: 700;
} */
/* .about-content {
  padding: 2rem 0 !important;
} */
/* .img-content {
  padding: 2rem 0;
} */

.aboutme .button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--main-text);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}
.aboutme .button a {
  color: #fff;
  text-decoration: none;
}
.aboutme .button:hover::before {
  transform: scaleX(1);
}
.aboutme .button-content {
  position: relative;
  z-index: 1;
}
.aboutme .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(231, 15, 170, 1) 10.8%,
    rgba(19, 176, 245, 1) 94.3%
  );
  transition: all 0.475s;
}

.aboutme .detail-work p {
  color: var(--text-faded);
  font-size: clamp(12px, 2vw, 16px);
}
.aboutme .education p {
  color: var(--text-faded);
  font-size: clamp(12px, 2vw, 16px);
}
.aboutme .badge {
  background-color: #d7ffe0;
  padding: 10px 15px;
}
.aboutme .title-work {
  color: var(--main-text);
  font-size: clamp(20px, 2.5vw, 32px);
}
.aboutme h6 {
  color: var(--main-text);
  font-weight: normal;
}

/* == About End == */

/* == Scroll To Top Section == */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.scroll-to-top.visible {
  display: block;
}

.scroll-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, background 0.3s ease;
}

.scroll-circle:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.3);
}

.scroll-icon {
  color: #252525;
  font-size: 1.5rem;
  z-index: 2;
  position: absolute;
}

.circular-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 9.2px;
  fill: #252525;
  animation: rotateText 5s linear infinite;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* == Footer Section == */

.footer {
  background-color: #fff;
  margin-top: 15em;
  box-shadow: 0px 4px 10px rgba(25, 25, 25, 0.3);
  /* margin-bottom: 2em; */
}
.short-link a {
  position: relative;
  color: var(--main-text);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 5px 0;
}
.short-link a::before,
.short-link a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.short-link a::before {
  left: 50%;
  width: 0;
  transform: translateX(-50%);
}

.short-link a::after {
  right: 50%;
  width: 0;
  transform: translateX(50%);
}

.short-link a:hover {
  color: #000;
}

.short-link a:hover::before {
  width: 50%;
}

.short-link a:hover::after {
  width: 50%;
}
/* .footer a:hover {
  color: #13b0f5;
} */
.footer-name {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
}
.social-link li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px #252525;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.social-link li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-size: clamp(16px, 2vw, 22px);
}
.social-link li:hover {
  background: #000; /* Warna latar saat hover */
  border-color: #000;
}

.social-link li:hover a {
  color: #fff; /* Warna ikon saat hover */
}
/* == Footer End == */

/* == Media Querry == */
@media screen and (max-width: 992px) {
  .hero {
    /* padding-top: 2rem; */
    /* height: 135vh; */
    min-height: 100vh;
  }
  .hero .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero .row h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero .row .introduce,
  .hero .row .header {
    font-size: clamp(22px, 4vw, 28px); /* Menyesuaikan dengan layar kecil */
    text-align: center;
  }
  .hero .row {
    /* margin: 20px; */
  }
  .hero .row .text-center {
    margin-top: 20px;
  }

  .hero .button {
    margin-top: 20px;
    display: block; /* Mengubah tata letak tombol menjadi blok agar dapat diatur margin */
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    text-align: center !important;
  }
  .box {
    max-width: 250px;
    max-height: 250px;
  }
  .parallax-container {
    height: 130vh; /* Kurangi tinggi agar tidak terlalu panjang */
  }

  .parallax span {
    min-height: 90vh; /* Sesuaikan tinggi teks */
    letter-spacing: -2px;
  }

  .parallax-top {
    top: 0; /* Sesuaikan agar tidak terlalu tinggi */
  }

  .parallax-bottom {
    bottom: 0; /* Sesuaikan agar tidak terlalu rendah */
  }
}
