* {
  font-family: "DM Sans", sans-serif;
  /* border: 1px solid black; */
}

:root {
  --main-text: #42446e;
  --text-faded: #666666;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.5s ease;
  /* Add other styles as needed */
}

.navbar.scrolled {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Add your desired background color with some transparency for the blur effect */
  backdrop-filter: blur(4px); /* Adjust the blur value as needed */
  /* Add other styles as needed */
}
.navbar-nav a:hover {
  color: #13b0f5;
}

.nav-link a {
  text-decoration: none;
  color: var(--text-faded);
}
.hero {
  padding-top: 100px;
}
.hero .row {
  margin: 70px;
}
.hero .row h1 {
  font-size: 45px;
  font-weight: bold;
}
.name {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
}

.hero .button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--main-text);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}
.hero .button a {
  color: #fff;
  text-decoration: none;
}

.hero .button:hover::before {
  transform: scaleX(1);
}

.hero .button-content {
  position: relative;
  z-index: 1;
}

.hero .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(231, 15, 170, 1) 10.8%,
    rgba(19, 176, 245, 1) 94.3%
  );
  transition: all 0.475s;
}

.skills {
  margin-bottom: 10rem;
}
.skills h1 {
  color: var(--main-text);
}
.skills .row {
  margin-top: 7em;
}
.skills p {
  color: var(--text-faded);
}

.project .button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--main-text);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.project .button:hover::before {
  transform: scaleX(1);
}

.project .button-content {
  position: relative;
  z-index: 1;
}

.project .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(231, 15, 170, 1) 10.8%,
    rgba(19, 176, 245, 1) 94.3%
  );
  transition: all 0.475s;
}

.project .card {
  width: 18rem;
  height: 22rem;
}
.project .card img {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project h1 {
  color: var(--main-text);
}
.project p {
  color: var(--text-faded);
}
.project .card-title {
  font-size: 16px;
}
.project .card-subtitle {
  font-size: 14px;
  color: var(--text-faded);
}
.project .card-text {
  font-size: 10px;
  color: var(--text-faded);
}
.project .card-link {
  font-size: 11px;
  flex: 0 0 auto;
}
.card {
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
  transform: scale(1.05);
}
.aboutme h1 {
  color: var(--main-text);
}
.row:nth-child(1) p {
  text-align: justify;
}
.contact {
  margin-top: 10em;
  height: 25vh;
}
.mail {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.aboutme p {
  color: var(--text-faded);
  font-size: 18px;
}
.aboutme .detail-work p {
  color: var(--text-faded);
  font-size: 12px;
}
.aboutme .education p {
  color: var(--text-faded);
  font-size: 12px;
}
.aboutme span {
  background-color: #d7ffe0;
}
.aboutme h6 {
  color: var(--text-faded);
  font-weight: normal;
}
.footer {
  margin-top: 15em;
  margin-bottom: 2em;
}
.footer a {
  color: var(--text-faded);
  text-decoration: none;
}
.footer a:hover {
  color: #13b0f5;
}
.footer-name {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 992px) {
  .hero {
    padding-top: 10px;
    height: 150vh;
  }
  .hero .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero .row h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .hero .row {
    margin: 20px;
  }
  .hero .row .text-center {
    margin-top: 20px;
  }

  .hero .button {
    margin-top: 20px;
    display: block; /* Mengubah tata letak tombol menjadi blok agar dapat diatur margin */
    margin-left: auto;
    margin-right: auto;
  }
}
